body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(images/wooden-background_24972-623.jpg); 
}
.omega{
    background-color: aquamarine;
}
/* .centre{
    margin: 0 auto;
} */
.background{
    
}